

.header {

    margin: var(--space_xxxl) var(--gap-space);

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        width: 179px;
        height: 34px;
        background-color: var(--text-color-primary);
    }
}