

.warning {
    min-height: 335px;
    width: 552px;
    margin: auto;
    border: 3px solid var(--border-color);

    & .placeholder {
        margin-top: var(--space_m);
        margin-bottom: var(--space_m);
    }
}