$breakpoint-size: 1144px;

:root {
    --text-color-primary: black;
    --text-color-secondary: black;
    --text-color-ghost: black;
    --text-color-link: black;

    --background-color-default: #FFFFFF;
    --background-color-accent: black;
    --border-color: #000000;

    --grid-col-12: 12;
    --grid-col-10: 10;
}

$sizes: (
    "xxxs": 2px,
    "xxs": 4px,
    "xs": 8px,
    "s": 12px,
    "m": 16px,
    "l": 20px,
    "xl": 24px,
    "xxl": 32px,
    "xxxl": 40px,
    "xxxxl": 48px,
    "xxxxxl": 72px
);

@media (max-width: $breakpoint-size) {
    --grid-col-12: 1;
    --grid-col-10: 1;

    --grid-col-count: 1;
}

// Темы
.theme {
    // Модификации цвета    
    &_color {
        &_project-default {
            --background-color-default: #FFFFFF;
            --background-color-accent: #0056B3;
            --border-color: #000000;

            --text-color-primary: #000000;
            --text-color-secondary: rgba(0, 0, 0, 0.6);
            --text-color-ghost: rgba(0, 0, 0, 0.3);
            --text-color-link: #0070f0;
        }

        &_project-brand {
            --background-color-default: #0070f0;
            --background-color-accent: #FFFFFF;
            --border-color: #FFFFFF;

            --text-color-primary: #FFFFFF;
            --text-color-secondary: rgba(255, 255, 255, 0.6);
            --text-color-ghost: rgba(255, 255, 255, 0.3);
            --text-color-link: #FFFFFF;
        }

        &_project-inverse {
            --background-color-default: #000000;
            --background-color-accent: #FFFFFF;
            --border-color: #FFFFFF;

            --text-color-primary: #FFFFFF;
            --text-color-secondary: rgba(255, 255, 255, 0.6);
            --text-color-ghost: rgba(255, 255, 255, 0.3);
            --text-color-link: #0070f0;
        }

        &_project-warning {
            --background-color-default: #FF9900;
            --background-color-accent: #FFFFFF;
            --border-color: #FFFFFF;

            --text-color-primary: #FFFFFF;
            --text-color-secondary: rgba(255, 255, 255, 0.6);
            --text-color-ghost: rgba(255, 255, 255, 0.3);
            --text-color-link: #FFF;
        }

        &_megafon-brand {
            --background-color-default: #1FA55D;
            --background-color-accent: #FFFFFF;
            --border-color: #FFFFFF;

            --text-color-primary: #FFFFFF;
            --text-color-secondary: rgba(255, 255, 255, 0.6);
            --text-color-ghost: rgba(255, 255, 255, 0.3);
            --text-color-link: #FFF;
        }

    }
    // Модификации размеров 
    &_size {
        &_default {
            --font-size_s: 7px;
            --font-size_m: 8px;
            --font-size_l: 10px;
            --font-size_xl: 11px;
            --font-size_xxl: 13px;

            --line-height_s: 18px;
            --line-height_m: 21px;
            --line-height_l: 25px;
            --line-height_xl: 28px;
            --line-height_xxl: 34px;

        }
    }
    // Модификации отступов
    &_space {

        &_default {
            --space_xxxs: 2px;
            --space_xxs: 4px;
            --space_xs: 8px;
            --space_s: 12px;
            --space_m: 16px;
            --space_l: 20px;
            --space_xl: 24px;
            --space_xxl: 32px;
            --space_xxxl: 40px;
            --space_xxxxl: 48px;
            --space_xxxxxl: 72px;
        }
    }

    &_gap {
        &_small {
            --gap-space: var(--space_xxl);

            @media (max-width: $breakpoint-size) {
                --gap-space: var(--space_m);
            }
        }
    }

}

// Layout

.layout {
    &_container {
        &_align {
            &_center {
                margin: auto;
            }
        }

        &_size {
            &_s {
                max-width: 880px;
            }
            &_m {
                max-width: 1144px;
            }
        }

        &_space-v {
            &_xxxxl {
                padding-top: map-get($sizes, 'xxxl');
                padding-bottom: map-get($sizes, 'xxxl');
            }
            &_xxxxxl {
                padding-top: map-get($sizes, 'xxxxl');
                padding-bottom: map-get($sizes, 'xxxxl');
            }
        }

        &_indent-b {
            &_xxl {
                margin-bottom: map-get($sizes, 'xxl');
            }
            &_xxxxl {
                margin-bottom: map-get($sizes, 'xxxxl');
            }
        }
    }
}

// Grid

.grid {
    display: grid;

    &_m-columns {
        &_12 {
            grid-template-columns: repeat(var(--grid-col-count, 12), 1fr);
        }
        &_10 {
            grid-template-columns: repeat(var(--grid-col-count, 10), 1fr);
        }
    }
    &_col-gap {
        &_two-thirds {
            grid-column-gap: calc(2 * var(--gap-space) / 3);
        }
        &_full {
            grid-column-gap: var(--gap-space);
        }
        &_half {
            grid-column-gap: calc(var(--gap-space) / 2);
        }
    }
    &_row-gap {
        &_half {
            grid-row-gap: calc(var(--gap-space) / 2);
        }
        &_full {
            grid-row-gap: var(--gap-space);
        }
    }

    &__fraction {
        &_m-col {
            @each $n in 2, 3, 4, 5, 8 {
                &_#{$n} {
                    grid-column: auto / span var(--grid-col-count, #{$n});
                }
            }
        }
    }
}

// Паттерны 

.card {
    &_border {
        &_all {
            border: 3px solid
        }
    }

    &_view {
        &_default {
            background: inherit
        }
    }

    &__content {
        display: flex;

        &_distribute {
            &_center {
                justify-content: center;
            }
        }
        
        &_vertical-align {
            &_center {
                align-items: center;
            }
        }

        &_space-a {
            &_m {
                padding: map-get($sizes, 'm');
            }
            &_l {
                padding: map-get($sizes, 'l');
            }
            &_xl {
                padding: map-get($sizes, 'xl');
            }
            &_xxl {
                padding: map-get($sizes, 'xxl');
            }
        }
    }

    &__footer {
        position: absolute;
        bottom: 0;
        display: flex;

        &_distribute {
            &_between {
                justify-content: space-between;
            }
            &_center {
                justify-content: center;
            }
            &_right {
                justify-content: flex-end;
            }
        }

        &_vertical-align {
            &_center {
                align-items: center;
            }
            &_top {
                align-items: flex-start;
            }
            &_bottom {
                align-items: flex-end;
            }
        }

        &_space-a {
            &_m {
                padding: map-get($sizes, 'm');
            }
            &_l {
                padding: map-get($sizes, 'l');
            }
            &_xl {
                padding: map-get($sizes, 'xl');
            }
            &_xxl {
                padding: map-get($sizes, 'xxl');
            }
        }
    }
}

.form {
    &_border {
        &_all {
            border: 3px solid; //todo what about color?
        }
    }
    &_view {
        &_default {
            //todo what about color?
        }
    }

    &__item {
        display: flex;

        &_border {
            &_bottom {
                border-bottom: 3px solid;

                &:last-child {
                    border: none;
                }
            }
        }
        &_distribute{
            &_between {
                justify-content: space-between;
            }
        }
        &_vertical-align {
            &_center {
                align-items: center;
            }
        }
        &_indent-b {
            @each $size, $value in map-remove($sizes, 'xxxxl', 'xxxxxl') {
                &_#{$size} {
                    margin-bottom: #{$value};
                }
            }
        }

        &_space-h {
            @each $size, $value in map-remove($sizes, 'xxxxl', 'xxxxxl') {
                &_#{$size} {
                    padding-left: #{$value};
                    padding-right: #{$value};
                }
            }
        }

        &_space-v {
            @each $size, $value in map-remove($sizes, 'xxxxl', 'xxxxxl') {
                &_#{$size} {
                    padding-top: #{$value};
                    padding-bottom: #{$value};
                }
            }
        }
    }
    &__label {
        &_width {
            &_default {
                width: 35%;
            }
        }
    }

    &__control { 
        // Todo: need work with breakpoint
    }
}


.informer {
    &__content {
        display: flex;

        &_distribute {
            &_default {
                justify-content: flex-start;
            }
            &_between {
                justify-content: space-between;
            }
            &_center {
                justify-content: center;
            }
        }
        &_space-a {
            &_xl {
                padding: map-get($sizes, 'xl');
            }
            &_xxl {
                padding: map-get($sizes, 'xxl');
            }
        }
    }

    &__action {
        // Todo распологается вконце
        &_distribute {
            &_default {
                justify-content: flex-start;
            }
            &_between {
                justify-content: space-between;
            }
            &_center {
                justify-content: center;
            }
        }
        &_space-a {
            &_xl {
                padding: map-get($sizes, 'xl');
            }
            &_xxl {
                padding: map-get($sizes, 'xxl');
            }
        }
    }
}


.list {
    &_border {
        &_all {
            border: 3px solid;
        }
    }
    &_view {
        &_default {
            // color
        }
    }

    &__item {
        display: flex;

        &_border {
            &_bottom {
                border-bottom: 3px solid;
            }
            &_top {
                border-top: 3px solid;
            }
        }
        &_distribute {
            &_between {
                justify-content: space-between;
            }
        }
        &_vertical-align {
            &_center {
                align-items: center;
            }
        }
        &_indent-t {
            &_m {
                margin-top: map-get($sizes, 'm');
            }
        }
        &_indent-b {
            &_s {
                margin-bottom: map-get($sizes, 's');
            }
            &_m {
                margin-bottom: map-get($sizes, 'm');
            }
            &_l {
                margin-bottom: map-get($sizes, 'l');
            }
            &_xl {
                margin-bottom: map-get($sizes, 'xl');
            }
        }
        &_space-b {
            &_s {
                padding-bottom: map-get($sizes, 's');
            }
        }
        &_space-a {
            &_l {
                padding: map-get($sizes, 'l');
            }
        }
    }
}


.icon-plus {
    &_vertical-align {
        &_center {
            vertical-align: middle;
        }
    }

    &__icon {
        &_indent-r {
            &_s {
                margin-right: map-get($sizes, 's');
            }
            &_m {
                margin-right: map-get($sizes, 'm');
            }
        }
        &_indent-l {
            &_l {
                margin-left: map-get($sizes, 'l');
            }
        }
    }
    &__block {
        //todo 
    }
}


.section {
    &_indent-b {
        &_xxl {
            margin-bottom: map-get($sizes, 'xxl');
        }
        &_xxxxl {
            margin-bottom: map-get($sizes, 'xxxxl');
        }
    }

    &_space-v {
        &_xxl {
            padding-top: map-get($sizes, 'xxl');
            padding-bottom: map-get($sizes, 'xxl');
        }
        &_xxxxl {
            padding-top: map-get($sizes, 'xxxxl');
            padding-bottom: map-get($sizes, 'xxxxl');
        }
    }
}


// Content

.text {
    &_align {
        &_center {
            margin: 0 auto;
        }
    }
    &_size {
        &_s {
            width: map-get($sizes, 's');
            .text__word {
                height: 7px;

                &_width {
                    &_s {
                        width: 20px;
                    }
                    &_m {
                        width: 48px;
                    }
                    &_l {
                        width: 100px;
                    }
                }
                
            }
        }
        &_m {
            width: map-get($sizes, 'm');
            .text__word {
                height: 8px;

                &_width {
                    &_s {
                        width: 24px;
                    }
                    &_m {
                        width: 56px;
                    }
                    &_l {
                        width: 114px;
                    }
                }
            }
        }
        &_l {
            width: map-get($sizes, 'l');
            .text__word {
                height: 10px;
                &_width {
                    &_s {
                        width: 28px;
                    }
                    &_m {
                        width: 68px;
                    }
                    &_l {
                        width: 138px;
                    }
                }
            }
        }
        &_xl {
            width: map-get($sizes, 'xl');
            .text__word {
                height: 11px;

                &_width {
                    &_s {
                        width: 32px;
                    }
                    &_m {
                        width: 74px;
                    }
                    &_l {
                        width: 154px;
                    }
                }
            }
        }
        &_xxl {
            width: map-get($sizes, 'xxl');
            .text__word {
                height: 13px;

                &_width {
                    &_s {
                        width: 36px;
                    }
                    &_m {
                        width: 88px;
                    }
                    &_l {
                        width: 184px;
                    }
                }
            }
        }
    }
    &_type {
        &_h1 {
            margin: 15px 0 21px;
        }
        &_h2 {
            margin: 48px 0 20px;
        }
        &_h3 {
            margin: 43px 0 0;
        }
        &_p {
            margin: 15px 0 21px;
        }
    }
    &_view {
        &_primary {
            color: var(--text-color-primary);
        } 
        &_secondary {
            color: var(--text-color-secondary);
        } 
        &_ghost {
            color: var(--text-color-ghost);
        } 
        &_link {
            color: var(--text-color-link);
        }
    }


    &__word {
        &_width {
            &_s {
                width: map-get($sizes, 's');
            }
            &_m {
                width: map-get($sizes, 'm');
            }
            &_l {
                width: map-get($sizes, 'l');
            }
        }
    }
}


.avatar {
    //color

    &_size {
        &_m {
            width: 60px;
            height: 60px;
        }
    }
}

.brand-logo {
    &_name {
        &_yota {
            background-color: #00c0f8;
        }
        &_megafon {
            background-color: #33c778;;
        }
        &_kcell {
            background-color: #692b96;
        }
        &_mts {
            background-color: #f70000;
        }
    }

    &_size {
        &_xxs {
            height: 24px;
            width: 24px;
        }
        &_xs {
            height: 32px;
            width: 32px;
        }
        &_s {
            height: 40px;
            width: 40px;
        }
        &_m {
            height: 60px;
            width: 60px;
        }
        &_l {
            height: 80px;
            width: 80px;
        }
    }
}


.placeholder {
    //color
    &_size {
        &_m {
            height: 72px;
            width: 72px;
        }
    }
}

.button {
    //color
    width: 200px;

    &_size {
        &_s {
            height: 24px;
        }
        &_m {
            height: 32px;
        }
        &_l {
            height: 42px;
        }
        &_xl {
            height: 56px;
        }
        &_xxl {
            height: 64px;
        }
    }

    &_width { 
        &_full {
            width: 100%;
        }
    }
}

.input {
    width: 100%; 

    &_size {
        //TODO: DRY
        &_s {
            height: 24px;
        }
        &_m {
            height: 32px;
        }
        &_l {
            height: 42px;
        }
        &_xl {
            height: 56px;
        }
        &_xxl {
            height: 64px;
        }
    }
}

.image {
    width: 100%;
    border: 3px solid;
    // background-image: заглушка и инверсия ее
}

//accordion
