$breakpoint-size: 1144px;

$word-height: (s: 7px, m: 8px, l: 10px, xl: 11px, xxl: 13px);
$word-width: (
    s: (
        s: 20px, m: 48px, l: 100px
    ),
    m: (
        s: 24px, m: 56px, l: 114px
    ),
    l: (
        s: 28px, m: 68px, l: 138px
    ),
    xl: (
        s: 32px, m: 74px, l: 154px
    ),
    xxl: (
        s: 36px, m: 88px, l: 184px
    )
);



@function get-word-height($mod) {
    @return map-get($word-height, $mod);
}

@function get-word-width($text-mod, $word-mod) {
    @return map-get(map-get($word-width, $text-mod), $word-mod);
}

* {
    box-sizing: border-box;
}

:root {
    --text-color-primary: black;
    --text-color-secondary: black;
    --text-color-ghost: black;
    --text-color-link: black;

    --background-color-default: #FFFFFF;
    --background-color-accent: black;
    --border-color: #000000;

    --grid-col-12: 12;
    --grid-col-10: 10;

    --image-url: url('../images/image-placeholder-inverse.svg');
}

@media (max-width: $breakpoint-size) {
    --grid-col-12: 1;
    --grid-col-10: 1;

    --grid-col-count: 1;
}

// Темы
.theme {
    // Модификации цвета    
    &_color {
        &_project-default {
            --background-color-default: #FFFFFF;
            --background-color-accent: #0056B3;
            --border-color: #000000;

            --text-color-primary: #000000;
            --text-color-secondary: rgba(0, 0, 0, 0.6);
            --text-color-ghost: rgba(0, 0, 0, 0.3);
            --text-color-link: #0070f0;
        }

        &_project-brand {
            --background-color-default: #0070f0;
            --background-color-accent: #FFFFFF;
            --border-color: #FFFFFF;

            --text-color-primary: #FFFFFF;
            --text-color-secondary: rgba(255, 255, 255, 0.6);
            --text-color-ghost: rgba(255, 255, 255, 0.3);
            --text-color-link: #FFFFFF;
        }

        &_project-inverse {
            --background-color-default: #000000;
            --background-color-accent: #FFFFFF;
            --border-color: #FFFFFF;

            --text-color-primary: #FFFFFF;
            --text-color-secondary: rgba(255, 255, 255, 0.6);
            --text-color-ghost: rgba(255, 255, 255, 0.3);
            --text-color-link: #0070f0;

            --image-url:  url('../images/image-placeholder-primary.svg');
        }

        &_project-warning {
            --background-color-default: #FF9900;
            --background-color-accent: #FFFFFF;
            --border-color: #FFFFFF;

            --text-color-primary: #FFFFFF;
            --text-color-secondary: rgba(255, 255, 255, 0.6);
            --text-color-ghost: rgba(255, 255, 255, 0.3);
            --text-color-link: #FFF;
        }

        &_megafon-brand {
            --background-color-default: #1FA55D;
            --background-color-accent: #FFFFFF;
            --border-color: #FFFFFF;

            --text-color-primary: #FFFFFF;
            --text-color-secondary: rgba(255, 255, 255, 0.6);
            --text-color-ghost: rgba(255, 255, 255, 0.3);
            --text-color-link: #FFF;
        }

    }
    // Модификации размеров 
    &_size {
        &_default {
            --font-size_s: 7px;
            --font-size_m: 8px;
            --font-size_l: 10px;
            --font-size_xl: 11px;
            --font-size_xxl: 13px;

            --line-height_s: 18px;
            --line-height_m: 21px;
            --line-height_l: 25px;
            --line-height_xl: 28px;
            --line-height_xxl: 34px;

        }
    }
    // Модификации отступов
    &_space {

        &_default {
            --space_xxxs: 2px;
            --space_xxs: 4px;
            --space_xs: 8px;
            --space_s: 12px;
            --space_m: 16px;
            --space_l: 20px;
            --space_xl: 24px;
            --space_xxl: 32px;
            --space_xxxl: 40px;
            --space_xxxxl: 48px;
            --space_xxxxxl: 72px;
        }
    }

    &_gap {
        &_small {
            --gap-space: var(--space_xxl);

            @media (max-width: $breakpoint-size) {
                --gap-space: var(--space_m);
            }
        }
    }

}

// Layout

.layout {
    &_container {
        &_align {
            &_center {
                margin: auto;
            }
        }

        &_size {
            &_s {
                max-width: 880px;
            }
            &_m {
                max-width: 1144px;
            }
        }

        &_space-v {
            &_xxxxl {
                padding-top: var(--space_xxxxl);
                padding-bottom: var(--space_xxxxl);
            }
            &_xxxxxl {
                padding-top: var(--space_xxxxxl);
                padding-bottom: var(--space_xxxxxl);
            }
        }

        &_indent-b {
            &_xxl {
                margin-bottom: var(--space_xxl);
            }
            &_xxxxl {
                margin-bottom: var(--space_xxxxl);
            }
        }
    }
}

// Grid

.grid {
    display: grid;

    &_m-columns {
        &_12 {
            grid-template-columns: repeat(var(--grid-col-count, 12), 1fr);
        }
        &_10 {
            grid-template-columns: repeat(var(--grid-col-count, 10), 1fr);
        }
    }
    &_col-gap {
        &_two-thirds {
            grid-column-gap: calc(2 * var(--gap-space) / 3);
        }
        &_full {
            grid-column-gap: var(--gap-space);
        }
        &_half {
            grid-column-gap: calc(var(--gap-space) / 2);
        }
    }
    &_row-gap {
        &_half {
            grid-row-gap: calc(var(--gap-space) / 2);
        }
        &_full {
            grid-row-gap: var(--gap-space);
        }
    }

    &__fraction {
        &_m-col {
            @each $n in 2, 3, 4, 5, 8 {
                &_#{$n} {
                    grid-column: auto / span var(--grid-col-count, #{$n});
                }
            }
        }
    }
}

// Паттерны 

.card {
    position: relative;

    &_border {
        &_all {
            border: 3px solid var(--border-color);
        }
    }

    &_view {
        &_default {
            background: var(--background-color-default);
        }
    }

    &__content {
        display: flex;
        flex-direction: column;

        &_distribute {
            &_center {
                justify-content: center;
            }
        }
        
        &_vertical-align {
            &_center {
                align-items: center;
            }
        }

        &_space-a {
            @each $mod in m, l, xl, xxl {
                &_#{$mod} {
                    padding: var(--space_#{$mod});
                }
            }
        }
    }

    &__footer {
        position: absolute;
        bottom: 0;
        display: flex;
        flex-direction: column;
        width: 100%;

        &_distribute {
            &_between {
                justify-content: space-between;
            }
            &_center {
                justify-content: center;
            }
            &_right {
                justify-content: flex-end;
            }
        }

        &_vertical-align {
            &_center {
                align-items: center;
            }
            &_top {
                align-items: flex-start;
            }
            &_bottom {
                align-items: flex-end;
            }
        }

        &_space-a {
            @each $mod in m, l, xl, xxl {
                &_#{$mod} {
                    padding: var(--space_#{$mod});
                }
            }
        }
    }
}

.form {
    &_border {
        &_all {
            border: 3px solid var(--border-color);
        }
    }
    &_view {
        &_default {
            background-color: var(--background-color-default);
        }
    }

    &__item {
        display: flex;
        width: 100%;

        &_border {
            &_bottom {
                border-bottom: 3px solid var(--border-color);
                // todo 
                &:last-child {
                    border: none;
                }
            }
        }
        &_distribute{
            &_between {
                justify-content: space-between;
            }
        }
        &_vertical-align {
            &_center {
                align-items: center;
            }
        }
        &_indent-b {
            @each $mod in xxxs, xxs, s, m, l, xl, xxl, xxxl {
                &_#{$mod} {
                    margin-bottom: var(--space_#{$mod});
                }
            }
        }

        &_space-h {
            @each $mod in xxxs, xxs, s, m, l, xl, xxl, xxxl {
                &_#{$mod} {
                    padding-left: var(--space_#{$mod});
                    padding-right: var(--space_#{$mod});
                }
            }
        }

        &_space-v {
            @each $mod in xxxs, xxs, s, m, l, xl, xxl, xxxl {
                &_#{$mod} {
                    padding-top: var(--space_#{$mod});
                    padding-bottom: var(--space_#{$mod});
                }
            }
        }
    }
    &__label {
        &_width {
            &_default {
                width: 35%;
            }
        }
    }

    &__control {
        // border: 3px solid var(--border-color);
        width: 65%;
    }
}


.informer {
    background-color: var(--background-color-default);

    &__content {
        display: flex;
        flex-direction: column;

        &_distribute {
            &_default {
                align-items: flex-start;
            }
            &_between {
                align-items: space-between;
            }
            &_center {
                align-items: center;
            }
        }
        &_space-a {
            @each $mod in xl, xxl {
                &_#{$mod} {
                    padding: var(--space_#{$mod});
                }
            }
        }
    }

    &__action {
        display: flex;

        &_distribute {
            &_default {
                justify-content: flex-start;
            }
            &_between {
                justify-content: space-between;
            }
            &_center {
                justify-content: center;
            }
        }
        &_space-a {
            @each $mod in xl, xxl {
                &_#{$mod} {
                    padding: var(--space_#{$mod});
                }
            }
        }
    }
}


.list {
    &_border {
        &_all {
            border: 3px solid var(--border-color);
        }
    }
    &_view {
        &_default {
            background-color: var(--background-color-default);
        }
    }

    &__item {
        display: flex;

        &_border {
            &_bottom:not(:last-child) {
                border-bottom: 3px solid var(--border-color);
            }
            &_top {
                border-top: 3px solid var(--border-color);
            }
        }
        &_distribute {
            &_between {
                justify-content: space-between;
            }
        }
        &_vertical-align {
            &_center {
                align-items: center;
            }
        }
        &_indent-t {
            &_m {
                margin-top: var(--space_m);
            }
        }
        &_indent-b {
            @each $mod in s, m, l, xl {
                &_#{$mod} {
                    margin-bottom: var(--space_#{$mod});
                }
            }
        }
        &_space-b {
            &_s {
                padding-bottom: var(--space_s);
            }
        }
        &_space-a {
            &_l {
                padding: var(--space_l);
            }
        }
    }
}


.icon-plus {
    display: flex;

    &_vertical-align {
        &_center {
            align-items: center;
        }
    }

    &__icon {
        &_indent-r {
            &_s {
                margin-right: var(--space_s);
            }
            &_m {
                margin-right: var(--space_m);
            }
        }
        &_indent-l {
            &_l {
                margin-left: var(--space_l);
            }
        }
    }
}


.section {
    &_indent-b {
        @each $mod in xxl, xxxxl {
            &_#{$mod} {
                margin-bottom: var(--space_#{$mod});
            }
        }
    }

    &_space-v {
        @each $mod in xxl, xxxxl {
            &_#{$mod} {
                padding-top: var(--space_#{$mod});
                padding-bottom: var(--space_#{$mod});
            }
        }
    }
}


// Content

.text {
    // height: 100%;
    &_align {
        &_center {
            margin: 0 auto;
        }
    }

    &_size {
        @each $mod in s, m, l, xl, xxl {
            &_#{$mod} {
                --word-height: #{get-word-height(#{$mod})};
                --word-width_s: #{get-word-width(#{$mod}, s)};
                --word-width_m: #{get-word-width(#{$mod}, m)};
                --word-width_l: #{get-word-width(#{$mod}, l)};
                --word-margin-v: calc((var(--line-height_#{$mod}) - var(--font-size_#{$mod})) / 2);
            }
        }
    }

    &_type {
        &_h1 {
            margin: 15px 0 21px;
        }
        &_h2 {
            margin: 48px 0 20px;
        }
        &_h3 {
            margin: 43px 0 0;
        }
        &_p {
            margin: 15px 0 21px;
        }
    }
    &_view {
        &_primary {
            --text__word_color: var(--text-color-primary);
        } 
        &_secondary {
            --text__word_color: var(--text-color-secondary);
        } 
        &_ghost {
            --text__word_color: var(--text-color-ghost);
        } 
        &_link {
            --text__word_color: var(--text-color-link);
        }
    }


    &__word {
        height: var(--word-height);
        background-color: var(--text__word_color);
        display: inline-block;
        margin-top: var(--word-margin-v);
        margin-bottom: var(--word-margin-v);

        &_width {
            &_s {
                width: var(--word-width_s);
            }
            &_m {
                width: var(--word-width_m);
            }
            &_l {
                width: var(--word-width_l);
            }
        }
    }
}


.avatar {
    background-color: var(--text-color-primary);

    &_size {
        &_m {
            width: 60px;
            height: 60px;
        }
    }
}

.brand-logo {
    &_name {
        &_yota {
            background-color: #00c0f8;
        }
        &_megafon {
            background-color: #33c778;;
        }
        &_kcell {
            background-color: #692b96;
        }
        &_mts {
            background-color: #f70000;
        }
    }

    &_size {
        &_xxs {
            height: 24px;
            width: 24px;
        }
        &_xs {
            height: 32px;
            width: 32px;
        }
        &_s {
            height: 40px;
            width: 40px;
        }
        &_m {
            height: 60px;
            width: 60px;
        }
        &_l {
            height: 80px;
            width: 80px;
        }
    }
}


.placeholder {
    background-color: var(--text-color-primary);

    &_size {
        &_m {
            height: 72px;
            width: 72px;
        }
    }
}

.button {
    background-color: var(--background-color-accent);
    width: 200px;

    &_size {
        &_s {
            height: 24px;
        }
        &_m {
            height: 32px;
        }
        &_l {
            height: 42px;
        }
        &_xl {
            height: 56px;
        }
        &_xxl {
            height: 64px;
        }
    }

    &_width { 
        &_full {
            width: 100%;
        }
    }
}

.input {
    width: 100%; 
    border: 3px solid var(--border-color);

    &_size {
        //TODO: DRY
        &_s {
            height: 24px;
        }
        &_m {
            height: 32px;
        }
        &_l {
            height: 42px;
        }
        &_xl {
            height: 56px;
        }
        &_xxl {
            height: 64px;
        }
    }
}

.image {
    width: 100%;
    border: 3px solid var(--border-color);
    background-image: var(--image-url);
    background-repeat: no-repeat;
    background-position: center;
    // background-color: var(--border-color); //в задании проблемы с цветами
}

.accordion {
    &__header {

    }

    &__content {
        display: none;
    }
}
